/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.team-score {
    font-size: 18px;
    font-weight: bold;
}

#turn-indicator {
    font-size: 16px;
    margin-bottom: 20px;
}

#category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-button {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.category-button.inactive {
    background-color: #ddd;
    /* Сірий фон для неактивної категорії */
    color: #999;
    text-decoration: line-through;
    /* Закреслений текст */
    cursor: not-allowed;
    /* Зміна курсора на "заборонено" */
}

