/* Базові стилі */
html {
    font-size: 16px;
    /* Базова одиниця: 1rem = 16px */
}

body,
h1,
h2,
p,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    /* Темний фон */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Екрани */
.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.screen.active {
    display: flex;
    opacity: 1;
}

/* Заголовки */
h1,
h2 {
    font-size: 3rem;
    margin-bottom: 1.8rem;
    text-align: center;
    color: #ff9800;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

/* Кнопки */
button {
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1565c0;
    transform: translateY(-0.1em);
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
}

/* Поля вводу */
input {
    width: 100%;
    max-width: 20rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #1e88e5;
    border-radius: 0.5rem;
    background-color: #202020;
    color: #ffffff;
}



/* Категорії */

#category-screen{
    margin-bottom: 1rem;
    max-width: 120rem;
}

#category-screen h2{
    font-size: 5rem;
    margin-bottom: 4rem;
}

#category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 120rem;
    margin-top: 3rem;
}

.category-button {
    background-color: #333;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    width: calc(25% - 1rem);
    min-width: 10rem;
    transition: all 0.3s ease;
}

.category-button:hover {
    background-color: #7c7a7a;
    
    /* transform: scale(1.05); */
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.category-button.inactive {
    background-color: #555;
    color: #777;
    border: 1px solid #666;
    cursor: not-allowed;
    text-decoration: line-through;
}

/* Інформація про команди */
#scoreboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin-bottom: 1rem;
}

.team-score {
    font-size: 1.5rem;
    text-align: center;
    flex: 1;
    padding: 0.5rem;
    color: #767676;
}

/* Прозорі кнопки */
#finish-game-btn,
#back-to-categories-btn {
    background-color: transparent;
    color: #ffffff;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
}

#finish-game-btn:hover,
#back-to-categories-btn:hover {
    opacity: 1;
    border-color: #1e88e5;
}

#turn-indicator{
    color: #797979;
    position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1rem;
}

#level-list button{
width: 15rem;
 margin: 2rem;
    
}


/* Поля вводу */
input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #1e88e5;
    border-radius: 0.5rem;
    background-color: #202020;
    color: #ffffff;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    border-color: #ff9800;
}

/* Текст правильної відповіді */
#correct-answer {
    font-size: 3rem;
    color: #b3b3b3;
    /* М'який сірий */
    margin: 2rem 0;
    font-style: italic;
    text-align: center;
}

/* Заголовок правильної відповіді */
h2 {
    color: #ff9800;
    /* Помаранчевий акцент */
    margin-bottom: 1rem;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

/* Кнопки */
button {
    /* width: 17rem; */
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #1565c0;
    transform: translateY(-0.1em);
 }  

 .button-container,
 .input-container{
    display: flex;
    justify-content: center;
    gap: 2rem;      
    margin-top: 1.5rem;
       
 }



#question-translation{
    font-size: 2rem;
    color: #bababa;
    font-style: italic;
    margin: 2rem 0;
}

#final-results{
    margin: 3rem;
    display: flex;
    font-size: 2rem;
    gap: 2rem;
}

.final-button{
    display: flex;
}




 